.list {
  display: block;

  margin: 0;
  padding: var(--distancer);
}

.item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.item--selected {
  color: var(--color-fg);
  background-color: var(--color-bg1);
}

.list--focused .item--selected {
  color: var(--color-bg);
  background-color: var(--color-yellow);
}
