.base-layout {
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  color: var(--color-fg);
  background: var(--color-bg);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
