.theme-gruvbox-dark {
  /* theme */
  --color-fg: #EBDBB2;
  --color-fg4: #A89984;
  --color-bg: #282828;
  --color-bg1: #3C3836;
  --color-bg2: #504945;
  --color-bg3: #665C54;
  --color-bg4: #7C6F64;
  --color-gray: #A89984;
  --color-red: #CC241D;
  --color-green: #98971A;
  --color-yellow: #D79921;
  --color-blue: #458588;
  --color-blue2: #83A598;
  --color-purple: #B16286;
  --color-aqua: #689D6A;
  --color-orange: #D65D0E;
  --color-orange2: #FE8019;

  /* app */
  --color-unfocused: var(--color-bg1);
  --color-focused: var(--color-yellow);
}

.theme-gruvbox-light {
  /* theme */
  --color-fg: #3C3836;
  --color-fg4: #7C6F64;
  --color-bg: #FBF1C7;
  --color-bg1: #EBDBB2;
  --color-bg2: #D5C4A1;
  --color-bg3: #BDAE93;
  --color-bg4: #A89984;
  --color-gray: #7C6F64;
  --color-red: #CC241D;
  --color-green: #98971A;
  --color-yellow: #D79921;
  --color-blue: #458588;
  --color-blue: #076678;
  --color-purple: #B16286;
  --color-aqua: #689D6A;
  --color-orange: #D65D0E;
  --color-orange2: #AF3A03;

  /* app */
  --color-unfocused: var(--color-bg1);
  --color-focused: var(--color-yellow);
}

.size-normal {
  --unit: 16px;
  --radius: 3px;
  --font-size: 14px;
  --box-shadow: 5px 5px 0 var(--color-fg4);
  --distancer: var(--unit);
  --line-height: var(--unit);
}

:root {
  /* general */
  --opacity-disabled: 0.6;

  /* fonts */
  --font-family: helvetica, sans-serif;
  --font-family-mono: "Fira Code", "Consolas", "Courier New", monospace;

  /* depth */
  --z-index-highest: 300;
  --z-index-higher: 200;
  --z-index-high: 100;
  --z-index-normal: 1;
  --z-index-low: -100;
  --z-index-lower: -200;
}

/* Desktop first */
@custom-media --phone screen and (max-width: 480px);
@custom-media --tablet screen and (min-width: 481px) and (max-width: 1024px);
